<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.campus.asset.mapper.AssetMapper">

    <update id="update" parameterType="com.campus.asset.entity.Asset">
        update asset
        <set>
            <if test="assetCode != null">asset_code = #{assetCode},</if>
            <if test="name != null">name = #{name},</if>
            <if test="categoryId != null">category_id = #{categoryId},</if>
            <if test="location != null">location = #{location},</if>
            <if test="ownerDepartment != null">owner_department = #{ownerDepartment},</if>
            <if test="status != null">status = #{status},</if>
            <if test="purchaseDate != null">purchase_date = #{purchaseDate},</if>
            <if test="originalValue != null">original_value = #{originalValue},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </set>
        where id = #{id}
    </update>

    <select id="pageQuery" resultType="com.campus.asset.entity.Asset">
        select * from asset
        <where>
            <if test="name != null and name != ''">
                and name like concat('%', #{name}, '%')
            </if>
            <if test="categoryId != null">
                and category_id = #{categoryId}
            </if>
            <if test="status != null and status != ''">
                and status = #{status}
            </if>
            <if test="location != null and location != ''">
                and location like concat('%', #{location}, '%')
            </if>
            <if test="ownerDepartment != null and ownerDepartment != ''">
                and owner_department like concat('%', #{ownerDepartment}, '%')
            </if>
        </where>
        order by create_time desc
    </select>
</mapper>
